@charset "UTF-8";

body{
    font-family: 
    'Noto Sans', 
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    sans-serif;

    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* 
section 
*/
.section{
    padding: 60px 0;
    margin: 0 0 60px;
}
.section.feature{
    background-color: #96d2ee;
    margin: 0 0 60px;
}

.section-headline{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 40px;
}

/* 
about 
*/
.about{
    margin: 0 auto;
    display: flex;
}
.about-image{
    width: 510px;
    height: 300px;
}
.about-caption{
    margin-left: 10px;
}
.about-headline{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}
/*.about-disc{}*/

/*
feature
*/
.feature{
    text-align: center;
    padding: 10px;
}
.feature-headline{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}

.feature-img{
    width: 250px;
    height: 250px;
}

.feature-discription{
    margin-top: 0px;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.grid-item{
    width: 250px;
    margin: 0 10px;
    list-style: none;
}

.grid-4{
    display: flex;
    justify-content: center;
}

.feature .grid{
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}